/* Unused -> replaced by .jumbotron */
/*.image-box{
    border: 1px solid gray;
    background-color: lightgray;
    width: 90%;
    padding: 10px;
    margin: 5px auto;
    border-radius: 15px;
}*/
/* Margin for submit button */
#advertisement_submit{
    margin-top: 7px;
}
.small-note{
    background-color: lightyellow;
    border: 1px solid yellowgreen;
    padding: 7px;
    border-radius: 15px;
    margin: 7px;
    font-size: small;
    text-align: right;
}
.btn-small{ /* This style override others */
    font-size: small !important;
    padding: 2px !important;
}
.float-right{
    float: right;
}
.margin{
    margin: 0px 5px;
}
.font-normal{
    font-size: initial !important;
}
.description{
    border-top: 1px solid grey;
    padding-top: 20px;
    text-decoration: underline;
}
/* Used for pagination in User's homepage */
.controls-fixed{
    text-align: center;
}
#box-image{
    display: none;
    position: fixed;
    top: 50px; left: 50%;
    z-index:5;
    background-color: lightgoldenrodyellow;
    padding: 15px;
    border-radius: 5px;
}