{% extends "::base.html.twig" %}
{% block body %}
    {# Main content#}
        <div class="jumbotron">
            <h1>Toutes nos offres en un clin d'œil</h1>
            <p class="lead" id="jumbotron-lead-test">Besoin d'un nouveau grille-pain?  D'un tueur à gages pour vous débarrasser enfin de votre encombrante belle-mère?  Vous trouverez tout cela sur <i>Dada's Flea Market</i></p>
            <p>Mieux que <i>SilkRoad</i> et <i>Amazon</i> réunis, n'hésitez plus!</p>
            <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_registration_register') }}" role="button">M'inscrire maintenant!</a></p>
        </div>

        <div class="row marketing">
            <h2>Nos dernières annonces</h2>
            {% for advert in adverts %}
                {# Starting div #}
                {% if loop.index == 1 or loop.index == 4 %}
                    <div class="col-lg-6">
                {% endif %}
                <h4>{{ advert.title }}</h4>
                <p>{{ advert.description|slice(0, 250) }}</p>
                <a href="{{ path('dada_advertisement_advert', {'slug': advert.slug}) }}" class="btn-small float-right">Voir plus</a>
                {# Ending div #}
                {% if loop.index == 3 or loop.last %}
                    </div>
                {% endif %}
            {% else %}
                <div class="col-lg-6">
                    <p>Malheureusement, aucune annonce n'a été créée :(</p>
                </div>
            {% endfor %}
        </div>
{% endblock %}
