{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        {% include ':Functions:alertBox.html.twig' %}
        <h1>Générer une nouvelle clé d'API</h1>
        <p>Vous pouvez générer une nouvelle clé d'API.  Cette clé est valide 6 mois, renouvellable indéfiniment.</p>
        <p>En générant une clé, vous reconnaissez avoir pris connaissance de nos <a href="#">Conditions d'utilisations</a>.</p>
        <p><a href="{{ path('dada_api_generate') }}" class="btn btn-success{% if exists and not expired %} disabled{% endif %}">Générer une clé</a></p>
    </div>
</div>
{% endblock %}