{% extends "::base.html.twig" %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="alert alert-danger">{{ 'resetting.password_already_requested'|trans }}</div>
        </div>
    </div>
    {% include ":Functions:redirectToHome.html.twig" %}
{% endblock %}